<div fxLayoutAlign="center center"fxFlexFill>
<mat-card fxFlex="25">
<mat-toolbar color="primary">Login Page</mat-toolbar>
<form fxLayoutAlign="stretch"fxLayout="column">
  <mat-form-field >
    <input matInput placeholder="PhoneNumber" required>
  </mat-form-field>
  <mat-form-field >
    <input matInput type = "passsword" placeholder="Password" required>
  </mat-form-field>
  <button mat-raised-button type="submit"routerLink="productlist">Login</button>
</form>
</mat-card>
 
</div>
