@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}
.container {
width: 80%;
margin: 0 auto;
}
header {
    background:  rebeccapurple;
    padding: 1em 0;
}
a {
    color:white;
    text-decoration: none;
}
a.logo {
    font-weight: bold;
}
nav {
    float : right;
}
h1 {
    margin-top: 2em;
}
