<nav>
<input class="form-control" type="text" #val3 name="NameProd" [(ngModel)]="NameProd"(ngModelChange)="Search(val3.value)" 
placeholder="Enter the product name to be searched">
</nav>
<header>
<div class="container">
<a href="#" class="logo">CoolApp</a>
</div>
</header>

<form>
  <mat-form-field appearance="fill">
    <mat-label>Product Name</mat-label>
    <input matInput placeholder="Name Of The Product " #val1 />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Product Category</mat-label>
    <input matInput placeholder="Product Category" #val2 />
  </mat-form-field>
  
<button mat-raised-button color="primary"(click)="getVal(val1.value,val2.value)" type="button">Submit</button>

<tr *ngFor = "let eb of NameProd ;let i=index">
  <td>    {{eb}}&nbsp;-&nbsp;{{CtgProd[i]}}</td>
    </tr>
  

<div ngif="iscorrect">{{currentAns}}</div>
 



</form>


  
